<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- <link rel="shortcut icon" href="images/alllig-logo-A.png"> -->
    <title>Mapa</title>

</head>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<body>
    <header class="main-header">
        <nav>
          <a href="/map" class="nav-header-link">Mapa</a>
          <a href="/Adm" class="nav-header-link">Admin user page</a>
        </nav>
        <div>
          <a href="/logout" class="nav-header-link logout-bt">Sair</a>
        </div>

      </header>
    <div class="box-wrap">
        <div class="box">
            <div id="map"></div>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var map = L.map('map').setView([0, 0], 2);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiaXRhbG9xbyIsImEiOiJjbDB2eW93MW4wOHdqM2NuczZndTBlNXZ5In0.WlEphD9cznVb3Mp_LejDeA'
    }).addTo(map);
    const preenchePontos = async () => {
        const response = await fetch('/maps/point');
        const data = await response.json();

        data.forEach(e => {

            console.log(e)
            L.geoJSON(e).addTo(map);
        })
    }
    preenchePontos()

    const preenchePoligonos = async () => {
        const response = await fetch('/maps/polygon');
        const data = await response.json();

        data.forEach(e => {

            console.log(e)
            L.geoJSON(e).addTo(map);
        })
    }
    preenchePoligonos()

</script>

</html>